@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:root {
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

html {
    font-size: 15px;
}

body {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 4rem;
}

img {
    max-width: 100%;
    width: 100%;
}

ul {
    list-style-type: none;
}

p {
    line-height: 1.8;
    color: var(--Dark-grayish-blue);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
}

.header nav {
    opacity: 0;
    z-index: -999;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.header nav #menu-close {
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    z-index: 99999;
    cursor: pointer;
}

/* Add backdrop filter */


.header nav.open {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 75vw;
    background-color: var(--Off-white);
    padding: 1.25rem;
    z-index: 9999999;
    opacity: 1;
}


.header nav ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header nav ul li {
    margin: 1.5rem 0;
    font-size: 16px;
    cursor: pointer;
}

.header nav ul li:hover {
    color: var(--Soft-red);
}

.header .menu-button button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: visibilty 0s, opacity .3s;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}

.showcase {
    padding: 1.25rem;
    padding-top: 0;
}

.showcase h1 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--Very-dark-blue);
    margin: 1rem 0;
}

.showcase div:first-child article p {
    margin-bottom: 1rem;
}

.showcase div:first-child article button {
    background-color: var(--Soft-red);
    color: var(--Off-white);
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: all .3s ease-in-out;
}

.showcase div:first-child article button:hover {
    background-color: var(--Very-dark-blue);
    cursor: pointer;
}

.showcase > div:last-child {
    background-color: var(--Very-dark-blue);
    margin-top: 2rem;
    padding: 1.25rem 1.25rem 0;
}

.showcase > div:last-child h2 {
    color: var(--Soft-orange);
}

.showcase > div:last-child article {
    padding: 1.25rem 0;
}

.showcase > div:last-child article:not(:last-child) {
    border-bottom: 2px solid var(--Grayish-blue);
}

.showcase > div:last-child h3 {
    color: var(--Off-white);
    margin-bottom: 0.5rem;
}

.showcase > div:last-child h3:hover {
    color: var(--Soft-orange);
    cursor: pointer;
}

.cards {
    padding: 1.25rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

.cards article {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.cards article img {
    width: 150px;
}

.cards article span {
    color: var(--Dark-grayish-blue);
    font-weight: bold;
    font-size: 2rem;
    opacity: 75%;
}

.cards article h4 {
    font-size: 1.25rem;
    color: var(--Dark-grayish-blue);
    margin: 1rem 0;
}

.attribution { 
    font-size: 14px;
    text-align: center;
    margin-top:2rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .header {
        padding: 2rem 1.25rem;
    }
    .header nav {
        opacity: 1;
        z-index: auto;
    }

    .header nav.open {
        position: relative;
        width: auto;
        background-color: transparent;
        padding: 0;
        z-index: auto;

    }

    .header nav #menu-close {
        display: none;
    }

    .header nav ul {
        position: relative;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;
        transform: translateY(0%);
    }

    .header nav ul li {
        margin: 0;
    }

    .header .menu-button button {
        display: none;
    }

    .showcase {
        display: flex;
        gap: 2rem
    }

    .showcase h1 {
        font-size: 3rem;
    }

    .showcase > div:first-child article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        place-items: center;
        margin-top: 2rem;
    }

    .showcase > div:last-child {
        margin-top: 0;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 2rem;
    }
};


